.about {
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
  }
  
  .topabout {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .bottomabout {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    margin-top: 50px;
  }
  
  .bottomabout p {
    width: 1200px;
    font-size: 21px;
  }
  
  .about .bottomabout h1 {
    font-weight: 400;
    font-size: 64px;
    color: #000;
    display: flex;
    justify-content: center;
  }

  .bottomabout button {
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 24px;
  }
  
  .bottomabout button:hover {
    background-color: #07090a;
    cursor: pointer;
    transition: 0.3s ease-in;
  }